@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* from index.html */
#root {
  max-width: 100vw;
  overflow-x: hidden;
}

::selection {
  @apply bg-amber-500 text-black;
}

button {
  cursor: pointer;
}

.active {
  @apply text-amber-700 font-medium;
}
