@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Inter, "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* from index.html */
#root {
  max-width: 100vw;
  overflow-x: clip;
}

header {
  background-color: rgba(255, 255, 255, 0.587);
  @apply dark:dark:bg-gray-800;
}

.search-box {
  background-color: whitesmoke;
  @apply dark:bg-gray-900 dark:text-white;
}

::selection {
  @apply bg-amber-500 text-black;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.active {
  @apply text-amber-700 font-medium;
}
