@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Inter, "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:root {
  --drop-shadow-color: silver;
  --animate-scale-value: scale(1.1);
  /* --animate-scale-value-2: scale(1.03); */
}

html[class="dark"] {
  --drop-shadow-color: rgb(34, 34, 34);
}

/* from index.html */
#root {
  max-width: 100vw;
  overflow-x: clip;
}

header {
  background-color: rgba(255, 255, 255, 0.587);
  @apply dark:dark:bg-gray-800;
}

.search-box {
  background-color: whitesmoke;
  @apply dark:bg-gray-900 dark:text-white;
}

::selection {
  @apply bg-amber-500 text-black;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.active {
  @apply text-amber-700 font-medium;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* animations and effects */
.animate-bounce-scale-1 {
  animation: animate-bounce-scale 0.7s linear 1;
  filter: drop-shadow(2px 2px 0px var(--drop-shadow-color));
}
.animate-bounce-scale-2 {
  animation: animate-bounce-scale 0.7s linear 1;
  filter: drop-shadow(2px 2px 0px var(--drop-shadow-color));
}

@keyframes animate-bounce-scale {
  0%,
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-25%) var(--animate-scale-value);
    filter: drop-shadow(3px 3px 5px var(--drop-shadow-color));
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
